<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>
        <!-- Set the desired value here -->
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=CMDLHRLTX239; Initial Catalog=CureMD;Integrated Security=False; User Id=shahman;Password=Abcdcba10!; MultipleActiveResultSets=True;"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
</configuration>